@import '~bulma/bulma.sass';


@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Proza+Libre&family=Roboto&family=Rubik&display=swap');

// font-family: 'Karla', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Proza Libre', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Rubik', sans-serif;
// background: #f8f9fa;
// background: #48A8;


// .swiper-container {
//   overflow: hidden;
// }
// .swiper-slide {
//   width: 100%;
//   height: 100%;
// }
// .swiper-slide.home-content{
//   height: 100vh;
// }
// .swiper-slide.main-content{
//   width: 100%;
//   height: auto;
// }

//* General styles
.main-container{
  overflow: hidden;
}

.page-container{
  padding: 0 2%;
  padding-top: 5%;
}

//* Navbar styles

.navbar{
  background-color: transparent;
  .navbar-brand{
    padding-right: 2%;
    .navbar-item{
      .brand-logo{
        min-width: 80px;
        min-height: 50px;
        object-fit: cover;
      }
    }
    .navbar-burger{
      margin-top: 10px;
      color: white;
      span{
        height: 2px;
        width: 20px;
      }
    }
  }
  .navbar-menu{
    .navbar-end{
      .navbar-item{
        font-size: 20px;
        color: white;
      }
      .navbar-item:hover{
        border-bottom: 2px solid blue;
        background-color: transparent;
        // color: black;
      }
    }
  }
  div.navbar-menu.is-active{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0;
    .navbar-end{
      .navbar-item{
        font-size: 16px;
      }
      .navbar-item:hover{
        border-bottom: none;
        background-color: white;
        color: black;
      }
    }
  }
}

.navbar.is-scrolled{
  background-color: rgba(0, 0, 0, 0.9);

}

//* Home page styles
.home-container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1513708929605-6dd0e1b081bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80');
  background-size: cover;
  // margin-top: -70px;
  .box-border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    // height: 70vh;
    border: 5px solid white;
    animation: titleBox 1s 26s ease;
    animation-fill-mode: forwards;
    .innerbox-border{
      // height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2% 0;
      .titles{
        p{
          font-family: 'Karla', sans-serif;
          font-size: 60px;
          padding: 0 48px;
          color: white;
          .name{
            color: yellow;
          }
          .typing{
            margin-left: 3px;
            position: relative;
            color: yellow;
          }
          .typing::after{
            content: "";
            width: 1.3px;
            height: 70%;
            border-left: 1.6px solid white;
            animation: blink 0.9s infinite ease;
          }
        }
      }
      .button-icon-container{
        padding-top: 3%;
        .button-container{
          padding: 0 48px;
          .start-button{
            font-family: 'Karla', sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: white;
            text-align: center;
            width: 30%;
            height: 50px;
            background-color: transparent;
            border: 2px solid white;
            cursor: pointer;
            border-radius: 5px;
            padding: 10px 0;
            animation: fadeInLeft 1s 27s ease;
            animation-fill-mode: both;
          }
          .start-button:hover{
            background-color: white;
            border: none;
            color: black;
          }
        }
        .icon-container{
          display: flex;
          width: 10%;
          justify-content: space-between;
          margin: 0 48px;
          margin-top: 2%;
          svg {
            color: white;
            font-size: 32px;
            margin-right: 10px;
            animation: fadeInUp 1s 28s ease;
            animation-fill-mode: both;
          }
        }
      }

    }

  }
}

@media only screen and (max-width: 1200px){
  .home-container{
    .box-border{
      // height: 55vh;
      .innerbox-border{
        .titles{
          p {
            font-size: 48px;
          }
        }
        .button-icon-container{
          .button-container{
            .start-button{
              font-size: 14px;
            }
          }
          .icon-container{
            justify-content: space-between;
            svg {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 900px){
  .home-container{
    .box-border{
      // height: 50vh;
      .innerbox-border{
        .titles{
          p {
            font-size: 38px;
            padding: 0 32px;
          }
        }
        .button-icon-container{
          .button-container{
            padding: 0 32px;
            .start-button{
              font-size: 14px;
              height: 45px;
              width: 40%;
            }
          }
          .icon-container{
            justify-content: space-between;
            margin: 0 32px;
            margin-top: 2%;
            svg {
              font-size: 24px;
            }
          }
        }

      }
    }
  }
}
@media only screen and (max-width: 700px){
  .home-container{
    .box-border{
      // height: 40vh;
      .innerbox-border{
        .titles{
          p {
            font-size: 30px;
          }
        }
        .button-icon-container{
          .button-container{
            .start-button{
              font-family: 'Karla', sans-serif;
              font-size: 12px;
              height: 45px;
              width: 40%;
            }
          }
          .icon-container{
            width: 15%;
            justify-content: space-between;
            svg {
              font-size: 20px;
            }
          }
        }

      }
    }
  }
}

@media only screen and (max-width: 450px){
  .home-container{
    .box-border{
      // height: 40vh;
      .innerbox-border{
        // height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titles{
          p{
            font-size: 20px;
            padding: 0 16px;
            .typing{
              margin-left: 3.2px;
              position: relative;
            }
            .typing::after{
              content: "";
              width: 1.3px;
              height: 70%;
              border-left: 1.6px solid black;
              animation: blink 0.9s infinite ease;
            }
          }
        }
        .button-icon-container{
          padding-top: 10%;
          .button-container{
            padding: 0 16px;
            .start-button{
              font-size: 10px;
              height: 35px;
              width: 50%;
            }
          }
          .icon-container{
            width: 20%;
            justify-content: space-between;
            margin-left: 16px;
            margin-top: 0;
            svg {
              font-size: 16px;
            }
          }
        }

      }

    }
  }
}


@keyframes titleBox{
  0%{
    border: 5px solid white;
  }
  100%{
    border: 5px solid transparent;
  }
}

@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



//* About page styles
.about-container{
  display: flex;
  .about-diagrams{
    width: 40%;
    padding-top: 5%;
    .vertical-timeline{
      padding: 0;
      .vertical-timeline-element{
        margin: 16px 0;
        .vertical-timeline-element-icon{
          width: 40px;
          height: 40px;
          box-shadow: none;
        }
        .vertical-timeline-element-content{
          padding: 10px;
          p{
            font-family: 'Karla', sans-serif;
          }
          .vertical-timeline-element-content-arrow{
            top: 10px;
          }
        }
      }
    }
    .vertical-timeline::before{
      background: #000;
    }
  }
  .about-text{
    width: 60%;
    padding: 0 5%;
    .about-title{
      margin-bottom: 15%;
      font-family: 'Proza Libre', sans-serif;
      font-size: 48px;
      font-weight: bold;
    }
    .about-content{
      // font-family: 'Karla', sans-serif;
      // font-family: 'Montserrat', sans-serif;
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      line-height: 1.8;
    }
  }
}

.about-skills{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: gray;
  margin-top: 5%;
  .about-skills-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    text-align: center;
    i{
      width: 20%;
      font-size: 72px;
      margin-bottom: 10%;
    }
  }
}

@media only screen and (max-width: 1050px){
  .about-skills{
    .about-skills-container{
      i{
        width: 20%;
        font-size: 50px;
        margin-bottom: 10%;
      }
    }
  }
}

@media only screen and (max-width: 1000px){
  .about-container{
    .about-text{
      .about-title{
        font-size: 42px;
      }
      .about-content{
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 450px){
  .about-container{
    flex-direction: column-reverse;
    .about-diagrams{
      width: 100%;
      padding-top: 10%;
      padding-bottom: 10%;
      padding-right: 5%;
    }
    .about-text{
      width: 100%;
    }
  }
}

//* Projects page styles
.projects-container{
  display: flex;
  flex-direction: column;
  .projects-title{
    font-family: 'Proza Libre', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-left: 5%;
  }
  .projects-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ind-project-container{
      width: 40%;
      min-height: 200px;
      margin: 10% 5%;
      transform-style: preserve-3d;
      >div{
        border: 1px solid black;
      }
      div:first-child{
        width: 100%;
        height: 100%;
      }
      div:nth-child(2){
        position: absolute;
        top: 100%;
        background: #fff;
        transform: translateZ(20px) scaleY(0);
        transform-origin: top;
        transition: 0.5s;
      }
    }
    .ind-project-container:hover{
      box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
      div:nth-child(2){
        transform: translateZ(20px) scaleY(1);
      }
    }
  }

}

@media only screen and (max-width:1000px){
  .projects-container{
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    .projects-title{
      font-size: 42px;
    }
    .projects-grid{
      display: flex;
      flex-direction: column;
      align-items: center;
      .ind-project-container{
        width: 80%;
        min-height: 100px;
        margin: 10% 5%;
        transform-style: preserve-3d;
        >div{
          border: 1px solid black;
        }
        div:first-child{
          width: 100%;
          height: 100%;
        }
        div:nth-child(2){
          position: absolute;
          background: #fff;
          transform: translateZ(20px) scaleY(0);
          transform-origin: top;
          transition: 0.5s;
        }
      }
      .ind-project-container:hover{
        box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
        div:nth-child(2){
          transform: translateZ(20px) scaleY(1);
        }
      }
    }
  }
}

//* Thumbnail Gallery Styles
.thumbnail-gallery-container{
  background: #ddd;
  height: auto;
  width: 75vw;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  .thumbnail-content{
    width: 100%;
    height: 70%;
    display: flex;
    .active-thumbnail{
      height: auto;
      width: 100%;
      background: #333;
      flex: 4;
      border: 1px solid gray;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .thumbnail-grid{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      background: yellow;
      flex: 1;
      .thumbnails{
        height: 25%;
        background: red;
        border: 1px solid gray;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .text-content{
    width: 100%;
    height: 30%;
    padding: 30px;
    div .project-headers{
      font-family: 'Rubik', sans-serif;
      .project-title {
        display: flex;
        justify-content: space-between;
        h2 {
          font-size: 32px;
          font-weight: bold;
        }
        .project-links{
          font-size: 28px;
        }
      }
      h3 {
        font-size: 22px;
        font-weight: bold;
      }
    }
    div .project-description{
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      line-height: 1.8;
      margin-top: 2%;
    }
  }
}

@media only screen and (max-width:1000px){
  .thumbnail-gallery-container{
    .text-content{
      div .project-headers{
        .project-title {
          h2 {
            font-size: 24px;
            font-weight: bold;
          }
          .project-links{
            font-size: 22px;
          }
        }
        h3 {
          font-size: 18px;
          font-weight: bold;
        }
      }
      div .project-description{
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width:450px){
  .thumbnail-gallery-container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    .thumbnail-content{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .active-thumbnail{
        height: 165px;
        width: auto;
        flex: initial;
      }
      .thumbnail-grid{
        flex-direction: row;
        flex: initial;
        .thumbnails{
          width: 25%;
          height: auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .text-content{
      padding: 20px;
      div .project-headers{
        .project-title {
          h2 {
            font-size: 22px;
          }
          .project-links{
            font-size: 20px;
          }
        }
        h3 {
          font-size: 18px;
        }
      }
      div .project-description{
        margin-top: 5%;
      }
    }
  }
}

//* Footer Styles
.footer-container{
  text-align: center;
  margin-top: 70px;
  background-color: black;
  height: 30vh;
  color: white;
  .footer-text{
    font-family: 'Karla', sans-serif;
    // font-family: 'Proza Libre', sans-serif;
    >h2{
      font-size: 38px;
    }
    >h3{
      font-size: 24px;
    }
  }
  .footer-icons{
    svg {
      color: white;
      font-size: 24px;
      margin-right: 10px;
      cursor: pointer;
      transition: transform 1s;
    }
    svg:hover{
      transform: scale(1.5);
    }
  }
  .footer-divider{
    color: #333533;
    margin: 20px 40px;
    margin-bottom: 10px;
    height: 1px;
  }
  .footer-copyright{
    font-family: 'Karla', sans-serif;
    font-size: 10px;
  }
}
